.class-title{
    font-size: 40px;
    margin-top: 120px;
}

.class-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    width: 80%;
}

.class-card{
    background-color: rgb(255, 255, 255);
    width: 400px;
    padding-bottom: 20px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin: 20px;
}

.class-card:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px, rgba(0, 0, 0, 0.1) 0px 4px 12px;
}


.class-desc{
    margin-top: 30px;
}


.add-class{
    background-color: rgb(255, 187, 0);
    padding: 18px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 5%;
    right: 5%;
    color: white;
    font-weight: bold;
}


.add-class:hover{
    cursor: pointer;
    background-color: rgb(255, 187, 0);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px, rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.edit-box-container{
    width: 90% !important;
    margin-left: 5% !important;
}

.feed-card{
    width: 90% !important;
}
.feed-cont{
    width: 90% !important;
}

.chat-container{
    width: 90% !important;
    margin-left: 2% !important;
}