.container-genre {
  display: flex;
  margin: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.box-genre{
    border-radius: 30px;
    background-color: yellow;
    border-color: 2px solid white;
    padding: 20px;
    font-size:24px;
    margin: 20px;
    font-weight: bold;
}

.box-genre:hover{
    cursor: pointer;
    background-color: white;
    border: 2px solid yellow;
}

.header-text{
  margin-top:130px;
}


.book-detail-info{
  margin-top: 130px;
  display: flex;
  padding: 30px;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  /* background-color: aquamarine; */
}

.book-detail-desc{
  margin-left: 50px;
  margin-top: 50px;
  text-align: left;
}

.btn-book-detail{
  margin-top: 30px;;
  background-color: rgb(4, 149, 246) !important;
}

.book-detail-title{
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 40px;
}

.bold{
  font-weight: bold;
}

.to-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.detail-book{
  font-weight: bold !important;
  font-size: 40px !important;
}

select{

  width:60%;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
  margin-top: 30px;
  border: 2px solid rgb(255, 174, 0);
}

.form-data label{
  text-align: left !important;
}

/* .form-data{
  justify-content: flex-start !important;
} */

.center-box{
  display: flex;
  flex-direction: column;
}