
@tailwind base;
@tailwind components;
@tailwind utilities;

.art-card{
    width: 500px;
    border-radius: 20px;
    /* background-color: red; */
    padding-bottom: 20px;
    margin: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.art-card:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    cursor: pointer;
}

.article-img{
    border-radius: 20px;
    width: 500px;
    height: 300px;
    object-fit: cover;
}


.author{
    margin-top: 20px;
    font-size: 28px;


}